name: ci
on:
  pull_request:

jobs:
  check:
    name: Check flake
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check flake
        run: nix flake check

  build:
    name: Build ${{ matrix.package }} (${{ matrix.system }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        package:
          - default
          - nightly
        system:
          - x86_64-linux
          - aarch64-darwin
        include:
          - system: x86_64-linux
            os: ubuntu-latest
          - system: aarch64-darwin
            os: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build ${{ matrix.package }}
        run: nix build .#packages.${{ matrix.system }}.${{ matrix.package }} --dry-run

  auto-merge:
    name: Auto-merge bot PRs
    runs-on: ubuntu-latest
    needs: [check, build]
    if: github.actor == 'github-actions[bot]'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Merge PR
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
