name: update-flake-lock
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * FRI" # Runs weekly on Friday at midnight

jobs:
  lockfile:
    name: Update flake inputs
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "flake.lock: Update"
          pr-labels: dependencies
          token: ${{ secrets.GITHUB_TOKEN }}
